<div class="user_section">
    <div class="left">
        <ul>
            <li>List of Inventry</li>
            <li>List of Category</li>
            <li>Take Reports</li>
        </ul>
    </div>
    <div class="right">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                  </li>
                </ul>
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>

          <div class="list">
            <table class="table table-dark table-striped">
                <thead>
                  <tr>
                    <th scope="col">No:</th>
                    <th scope="col">Name of Inventry</th>
                    <th scope="col">Total Category</th>
                    <th scope="col">Discription</th>
                    <th scope="col">Reports.</th>
                  </tr>
                </thead>
                <tbody *ngFor="let items of items;">
                  <tr class="row-btn" routerLink="/inventry-category">
                    <th scope="row">{{items.id}}</th>
                    <td>{{items.Name_of_Inventry}}</td>
                    <td>{{items.Total_Category}}</td>
                    <td>@{{items.Discription}}</td>
                    <td>{{items.Reports}}</td>
                  </tr>
                </tbody>
              </table>
          </div>
    </div>
</div>
